<div class="container">
    <form class="form shadow m-3 p-3" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Sign Up Form</h1>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>Mã SP</mat-label>
                <input matInput formControlName="maSp" placeholder="Enter maSp" [(ngModel)]="product.maSp">
                <mat-error *ngIf="this.form.controls.maSp.hasError('required')">
                    maSp is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter Name" [(ngModel)]="product.name">
                <mat-error *ngIf="this.form.controls.name.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>date</mat-label>
                <input matInput formControlName="date" placeholder="01/02/2023" mask="00/00/0000"
                    [(ngModel)]="product.date">
                <mat-error *ngIf="this.form.controls.date.hasError('required')">
                    date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>product_width</mat-label>
                <input matInput formControlName="product_width" placeholder="Enter product_width"
                    [(ngModel)]="product.product_width">
                <mat-error *ngIf="this.form.controls.product_width.hasError('required')">
                    product_width is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>product_height</mat-label>
                <input matInput formControlName="product_height" placeholder="Enter product_height"
                    [(ngModel)]="product.product_height">
                <mat-error *ngIf="this.form.controls.product_height.hasError('required')">
                    product_height is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>color</mat-label>
                <input matInput formControlName="color" placeholder="Enter color" [(ngModel)]="product.color">
                <mat-error *ngIf="this.form.controls.color.hasError('required')">
                    color is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>quantity</mat-label>
                <input matInput formControlName="quantity" placeholder="Enter quantity" [(ngModel)]="product.quantity">
                <mat-error *ngIf="this.form.controls.quantity.hasError('required')">
                    quantity is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>brand</mat-label>
                <input matInput formControlName="brand" placeholder="Enter brand" [(ngModel)]="product.brand">
                <mat-error *ngIf="this.form.controls.brand.hasError('required')">
                    brand is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>material</mat-label>
                <input matInput formControlName="material" placeholder="Enter material" [(ngModel)]="product.material">
                <mat-error *ngIf="this.form.controls.material.hasError('required')">
                    material is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div> -->

        <div class="row mt-3">
            <mat-form-field appearance="fill">
                <mat-label>material products</mat-label>
                <mat-select [(ngModel)]="product.material">
                    <mat-option *ngFor="let products of product_material" [value]="products.value ">
                        {{products.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>sectors</mat-label>
                <input matInput formControlName="sectors" placeholder="Enter sectors" [(ngModel)]="product.sectors">
                <mat-error *ngIf="this.form.controls.sectors.hasError('required')">
                    sectors <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="rows mt-3">
            <button type="submit" mat-raised-button color="primary" class="m-2" style="width: 200px;height: 50px;"
                [disabled]="!form.valid">Submit Form</button>
            <button type="button" mat-raised-button color="warn" class="m-2" style="width: 200px;height: 50px;"
                (click)="form.reset()">Reset</button>
        </div>
    </form>
</div>